{% set title = "유저 등록" %}
{% extends "layout/contactBase.html" %}
 
{% block content -%}
    <form action="" method="post">
        <table class="table table-bordered">
            <tr>
                <th>유저명</th>
                <td><input type="text" name="user" class="form-control" value="{{user.user}}"/></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td><input type="text" name="number" class="form-control" value="{{user.number}}"/></td>
            </tr>
            <tr>
                <th>성별</th>
                <td><input type="text" name="gender" class="form-control" value="{{user.gender}}"/></td>
            </tr>
        </table>
        <button class="btn btn-primary">작성하기</button>
    </form>

{% endblock %}